<!-- SIDEBAR -->
<div class="header-fixed sidebar-minimized">
  <div class="sidebar">
    <nav class="t-header">
      <div class="t-header-brand-wrapper">
        <a href="#"></a>
        <button class="t-header-toggler t-header-desk-toggler d-none d-lg-block arrow" id="t-header-toggler"><svg class="logo" viewBox="0 0 200 200">
          <path class="top" d="
                M 40, 80
                C 40, 80 120, 80 140, 80
                C180, 80 180, 20  90, 80
                C 60,100  30,120  30,120
              "></path>
          <path class="middle" d="
                M 40,100
                L140,100
              "></path>
          <path class="bottom" d="
                M 40,120
                C 40,120 120,120 140,120
                C180,120 180,180  90,120
                C 60,100  30, 80  30, 80
              "></path>
        </svg></button></div>
    </nav>
    <div class="user-profile">
      <div class="display-avatar animated-avatar"><img class="profile-img img-lg rounded-circle" src="/assets/images/logo_top_logo02.png" alt="profile image"></div>
      <div class="info-wrapper">
        <p class="user-name">PUMPKIN</p>
      </div>
    </div>
    <ul class="navigation-menu">
      <li class="nav-category-divider">MAIN</li>
      <li><a href="#basic_manage" data-toggle="collapse" aria-expanded="false"><span class="link-title">기초관리</span> <i class="icon-menu01 link-icon"></i></a>
        <ul class="collapse navigation-submenu" id="basic_manage">
          <li><a href="/basic/customer/customer.php">거래처 등록</a></li>
          <li><a href="#">원재료 등록</a></li>
          <li><a href="#">품목 등록</a></li>
          <li><a href="#">복합품 등록</a></li>
          <li><a href="#">BOM 관리</a></li>
          <li><a href="#">복합품 BOM 등록</a></li>
          <li><a href="#">공통 코드 등록</a></li>
          <li><a href="#">생산 LINE 등록</a></li>
          <li><a href="#">작업자 관리</a></li>
        </ul>
      </li>
      <li><a href="#material" data-toggle="collapse" aria-expanded="false"><span class="link-title">자재입출고</span> <i class="icon-menu02 link-icon"></i></a>
        <ul class="collapse navigation-submenu" id="material">
          <li><a href="#">자재 입고 등록</a></li>
          <li><a href="#">자재 출고 등록</a></li>
          <li><a href="#">자재 투입</a></li>
          <li><a href="#">자재 출하</a></li>
          <li><a href="#">자재 반입</a></li>
          <li><a href="#">수입검사 입출고 조회</a></li>
          <li><a href="#" style="line-height:150%">수입검사 입출고 및 <br>재고 현황</a></li>
          <li><a href="#">재고 입출고 현황</a></li>
          <li><a href="#">자재 실재고 조사</a></li>
        </ul>
      </li>
      <li><a href="#raw_materials" data-toggle="collapse" aria-expanded="false"><span class="link-title">원재료 관리</span> <i class="icon-menu03 link-icon"></i></a>
        <ul class="collapse navigation-submenu" id="raw_materials">
          <li><a href="#">원재료 입고 등록</a></li>
          <li><a href="#">원재료 출고</a></li>
          <li><a href="#">원재료 투입</a></li>
          <li><a href="#">원래료 반입</a></li>
          <li><a href="#">원재료 입출고 조회</a></li>
          <li><a href="#" style="line-height:150%">원재료 입출고 재고 <br> 현황</a></li>
          <li><a href="#">원재료 입출고 현황</a></li>
          <li><a href="#">원재료 조사</a></li>
          <li><a href="#">M/sheet 물성추이도</a></li>
        </ul>
      </li>
      <li><a href="#production" data-toggle="collapse" aria-expanded="false"><span class="link-title">생산 관리</span> <i class="icon-menu04 link-icon"></i></a>
        <ul class="collapse navigation-submenu" id="production">
          <li><a href="#">생관계획</a></li>
          <li><a href="#">생산 공정 관리</a></li>
          <li><a href="#">작업일보</a></li>
          <li><a href="#">생산실적(작업일보)</a></li>
          <li><a href="#">생산 식별표 발행</a></li>
          <li><a href="#">도장 작업 표준서 등록</a></li>
          <li><a href="#">작업 표준서 등록</a></li>
          <li><a href="#">LOT 추적</a></li>
          <li><a href="#" style="line-height:150%">생산 실적 현황<br>(양품+불량)</a></li>
          <li><a href="#" style="line-height:150%">생산 실적 현황<br>(계획대비 생산량)</a></li>
          <li><a href="#" style="line-height:150%">생산 실적 현황<br>(불량유형별 불량현황)</a></li>
          <li><a href="#">가동시간 제외 등록</a></li>
        </ul>
      </li>
      <li><a href="#quality" data-toggle="collapse" aria-expanded="false"><span class="link-title">품질검사</span> <i class="icon-menu05 link-icon"></i></a>
        <ul class="collapse navigation-submenu" id="quality">
          <li><a href="#">자재 수입검사</a></li>
          <li><a href="#">원재료 수입검사</a></li>
          <li><a href="#">공정검사</a></li>
          <li><a href="#">공정검사 조회</a></li>
          <li><a href="#">공정검사 분포도</a></li>
          <li><a href="#" style="line-height:150%">원재료 밀시트 <br> 검사 조회</a></li>
          <li><a href="#">줄하검사</a></li>
          <li><a href="#">수입검사 기준등록</a></li>
          <li><a href="#">공정검사 기준등록</a></li>
          <li><a href="#">출하검사 기준등록</a></li>
          <li><a href="#">원재료 검사 기준등록</a></li>
        </ul>
      </li>
      <li><a href="#facility-pages-1" data-toggle="collapse" aria-expanded="false"><span class="link-title">설비관리</span> <i class="icon-menu06 link-icon"></i></a>
        <ul class="collapse navigation-submenu" id="facility-pages-1">
          <li><a href="#" data-toggle="collapse" aria-expanded="false"><span class="link-title">설비관리 기초 등록</span></a></li>
          <li><a href="#" data-toggle="collapse" aria-expanded="false"><span class="link-title">설비 수리 이력 현황</span></a></li>
          <li><a href="#facility-pages-2" data-toggle="collapse" aria-expanded="false"><span class="link-title">설비일상점검표</span></a>
            <ul class="collapse navigation-submenu" id="facility-pages-2">
              <li><a href="#" target="_blank">설비 일상 점검표 등록</a></li>
              <li><a href="#" target="_blank">설비 일상 점검표 조회</a></li>
              <li><a href="#" target="_blank" style="line-height:150%">설비 일상 점검표 <br> 항목 표준등록</a></li>
              <li><a href="#" target="_blank" style="line-height:150%">설비 일상 점검표 <br> 항목 등록</a></li>
            </ul>
          </li>
          <li><a href="#facility-pages-3" data-toggle="collapse" aria-expanded="false"><span class="link-title">설비 정기 점검표</span></a>
            <ul class="collapse navigation-submenu" id="facility-pages-3">
              <li><a href="#" target="_blank">설비 정기 점검표 등록</a></li>
              <li><a href="#" target="_blank">설비 정기 점검표 조회</a></li>
              <li><a href="#" target="_blank" style="line-height:150%">설비 정기 점검표 항목 <br> 표준등록</a></li>
              <li><a href="#" target="_blank" style="line-height:150%">설비 정기 점검표 항목 <br> 등록</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#mold" data-toggle="collapse" aria-expanded="false"><span class="link-title">금형 관리</span> <i class="icon-menu07 link-icon"></i></a>
        <ul class="collapse navigation-submenu" id="mold">
          <li><a href="#">#</a></li>
        </ul>
      </li>
      <li><a href="#visions" data-toggle="collapse" aria-expanded="false"><span class="link-title">비전검사</span> <i class="icon-menu08 link-icon"></i></a>
        <ul class="collapse navigation-submenu" id="visions">
          <li><a href="#">#</a></li>
        </ul>
      </li>
      <li><a href="#combination" data-toggle="collapse" aria-expanded="false"><span class="link-title">배합관리</span> <i class="icon-menu09 link-icon"></i></a>
        <ul class="collapse navigation-submenu" id="combination">
          <li><a href="#">배합기준 등록</a></li>
          <li><a href="#">배합결과 등록</a></li>
          <li><a href="#">배합결과 조회</a></li>
        </ul>
      </li>
      <li><a href="#monitoring" data-toggle="collapse" aria-expanded="false"><span class="link-title">모니터링</span> <i class="icon-menu10 link-icon"></i></a>
        <ul class="collapse navigation-submenu" id="monitoring">
          <li><a href="/monitoring/monitoring_production.php" target="_blank" >자재 재고 현황</a></li>
          <li><a href="#">원재료 재고 현황</a></li>
          <li><a href="#">생산가종 현황판</a></li>
          <li><a href="#" style="line-height:150%">초/중/종물 검사 현황판</a></li>
        </ul>
      </li>
      <li class="nav-category-divider">ETC.</li>
      <li><a href="#"><span class="link-title">로그아웃</span> <i class="icon-logout link-icon"></i></a></li>
      <li><a href="#"><span class="link-title">설정</span> <i class="icon-setting link-icon"></i></a></li>
    </ul>
  </div>
</div><!-- partial -->
<div class="mob_header">
  <h1><a href="index.asp" title="메인으로 이동"><img src="/cala/images/logo_top_logo.png" alt="로고"></a></h1>
  <a href="#none" class="btn_gnb"><img src="/cala/images/mob_menu_btn.png" alt="모바일메뉴 열기" /></a>
  <div class="gnb">
    <div class="inner">
      <div class="home">
        <ul>
          <li>
            <a href="/cala/index.asp"><img src="/cala/images/mobmenu_home.png" alt="홈버튼" /></a>&nbsp;&nbsp;&nbsp;
            <a href="#none" class="nobg"><img src="/cala/images/mobmenu_close.png" alt="닫기" /></a>
          </li>
        </ul>
      </div>

      <div class="mob_menu_title">MAIN</div>
      <div class="mob_menu">
        <dl class="depth01">
          <dd>
            <a href="#"><img src="/cala/images/icon_menu01.png" alt="">&nbsp;기초관리</a>
            <dl class="depth02">
              <dd><a href="#">-&nbsp;&nbsp;거래처 등록</a></dd>
              <dd><a href="#">-&nbsp;&nbsp;원재료 등록</a></dd>
              <dd><a href="#">-&nbsp;&nbsp;품목 등록</a></dd>
              <dd><a href="#">-&nbsp;&nbsp;복합품 등록</a></dd>
              <dd><a href="#">-&nbsp;&nbsp;BOM 관리</a></dd>
              <dd><a href="#">-&nbsp;&nbsp;복합품 BOM 등록</a></dd>
              <dd><a href="#">-&nbsp;&nbsp;공통 코드 등록</a></dd>
              <dd><a href="#">-&nbsp;&nbsp;생산 LINE 등록</a></dd>
              <dd><a href="#">-&nbsp;&nbsp;작업자 관리</a></dd>
            </dl>
          </dd>
          <dd><a href="#"><img src="/cala/images/icon_menu02.png" alt="">&nbsp;자재입출고</a></dd>
          <dd><a href="#"><img src="/cala/images/icon_menu03.png" alt="">&nbsp;원재료 관리</a></dd>
          <dd><a href="#"><img src="/cala/images/icon_menu04.png" alt="">&nbsp;생산 관리</a></dd>
          <dd><a href="#"><img src="/cala/images/icon_menu05.png" alt="">&nbsp;품질 검사</a></dd>
          <dd><a href="#"><img src="/cala/images/icon_menu06.png" alt="">&nbsp;설비 관리</a></dd>
          <dd><a href="#"><img src="/cala/images/icon_menu07.png" alt="">&nbsp;금형 관리</a></dd>
          <dd><a href="#"><img src="/cala/images/icon_menu08.png" alt="">&nbsp;비전검사</a></dd>
          <dd><a href="#"><img src="/cala/images/icon_menu09.png" alt="">&nbsp;배합관리</a></dd>
          <dd><a href="#"><img src="/cala/images/icon_menu10.png" alt="">&nbsp;모니터링</a></dd>
        </dl>
      </div><!--//mob_menu-->

      <div class="mob_menu_title">ETC.</div>
      <div class="mob_menu">
        <dl class="depth01">

          <dd><a href="/login"><img src="/cala/images/icon_logout.png" alt="">&nbsp;로그아웃</a></dd>
          <dd><a href="#"><img src="/cala/images/icon_setting.png" alt="">&nbsp;설정</a></dd>
        </dl>
      </div><!--//mob_menu-->

      <div class="mobmenu_copy">
        <ul>
          <li>
            COPYRIGHT 2020 BY (주)강한솔루션  ALL RIGHTS RESERVED.
          </li>
        </ul>
      </div>

    </div>
  </div>
</div><!-- //mob_header// -->
