<div class="home-bg" >
  <!------------------------------------------------------------------------------ //내용 시작// ------------------------------------------------------------------------------>

  <div class="home-wrap">
    <ul>
      <li class="home-img"><img src="/assets/images/home_img.png" alt=""></li>
      <li class="home-txt"><img src="/assets/images/home_title.png"></li>
    </ul>
  </div><!--//home_wrap-->

  <!------------------------------------------------------------------------------ //내용 끝// ------------------------------------------------------------------------------>
</div>
