<div class="intBox">
  <div class="login_wrap">
    <div class="login_img_web"><img src="/assets/images/login_img.png" alt="통합제조솔루션 CALA"></div>
    <div class="login_img_mob"><img src="/assets/images/login_img_mob.png" alt="통합제조솔루션 CALA"></div>
    <div class="login_le">
      <div class="login_logo"><img src="/assets/images/logo_top_logo.png" alt="업체로고-권장사이즈:220x60"></div>
      <div class="login_inqut">
        <ul>
          <li><input type="text" name="" id =""  value="" placeholder="아이디를 입력해주세요." ></li>
          <li><input type="password" name="" id =""  value="" placeholder="패스워드를 입력해주세요." ></li>
        </ul>
      </div>
      <div class="login_btn"><a href="#">LOGIN</a></div>
      <div class="login_txt">※ 아이디/비밀번호는 관리자에게 문의하세요.</div>
      <div class="login_txt_bottom">COPYRIGHT 2020 BY (주)강한솔루션  ALL RIGHTS RESERVED.</div>
    </div><!--//login_le-->
  </div><!--//login_wrap-->
</div><!--//intBox-->
