label { margin: .2rem 0 0 0 ; }

.form-body {
    width: 90%;
    margin: 0 auto;
}

.form-group {
    display: flex;
}

.form-control-duo {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 1.360rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #F2F2F2;
    background-clip: padding-box;
    border: 1px solid #B6B7BE;
    border-radius: 0 5px 5px 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control {
    color: #6c757d;
    background-color: #F2F2F2;
    border: 1px solid #B6B7BE;
    border-radius: 0 5px 5px 0;
}
.showcase_area {
    width: 130px;
    text-align: center;
    background-color: #223C61;
    color: #fff;
    flex-wrap: wrap;
    line-height: 2.4;
    border-radius: 5px 0 0 5px;
}